.sidebar-home {
    height: 100dvh;
    width: 72px;
    border-right: 1px solid rgb(219, 219, 219);
    z-index: 1;
    color: black;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    position: fixed;
    padding: 8px 12px;
    transition: width 0.3s;
}

.bottom-navbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvh;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar-button {
    background: none;
    border: none;
    color: black;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: background-color 0.3s ease;
}

.sidebar-button .icon {
    margin-right: 10px;
    font-size: 24px;
    height: 24px;
    width: 24px;
    transition: transform 0.3s ease;
}

.sidebar-button .text {
    display: none;
    padding-left: 16px;
    height: 24px;
    text-align: end;
}

.sidebar-button:hover {
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
}

.sidebar-button:hover .icon {
    transform: scale(1.1);
}

.sidebar-button:focus {
    font-weight: 700;
}



@media (min-width: 1264px) and (max-width: 1920px) {
    .sidebar-home{
        width: 244px;
    }
    .sidebar-button {
        width: 220px;
    }
    .sidebar-button .text {
        display: block;
    }
}

@media (min-width: 1920px) {
    .sidebar-home{
        width: 335px;
    }
    .sidebar-button {
        width: 311px;
    }
    .sidebar-button .text {
        display: block;
    }
}

@media (max-width: 767px) {
    .sidebar-home{
        display: none;
    }

    .bottom-navbar {
        display: block;
    }
}







