.forget-password-form-container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
  }
  
  .forget-password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .back-to-login {
    margin-top: 15px;
  }
  
  .back-to-login a {
    font-size: 14px;
    color: #00376b;
  }
  