@import "_config";
@import "./body";

.container {
    border-radius: 10px;
    margin: auto;
    width: 97%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(51, 55, 65);
    color: white;
    font-size: 30px;


    .title {
        text-align: center;
    }

    .menu-btn {
        font-size: larger;
        padding: 20px;
        text-decoration: none;
        margin: 25px auto;
        background-color: rgb(41, 39, 39);
        color: white;
        border-radius: 5px;
        border-style: none;
        transition: background-color 0.3s, color 0.3s;

        &:active {
            background-color: beige;
            color: black;
        }

    }

    .Table {
        border-collapse: collapse;
        width: 100%;
        padding: 3px;
        margin-bottom: 10px;
        font-size: medium;

        th,
        td {
            padding: 7px 3px;
            text-align: center;
            .filterBar{
                margin: 1px 3px;
                width:90%;
                padding: 7px;
                font-size: medium;
                border-width: 0 0 2px 0;
                border-style: solid;
                border-color: aliceblue;
                background: none;
                color: white;
                &:focus{
                    outline-style:ridge;
                    outline-width: 0 0 2px 0;
                    outline-color: white;
                }
            }
            .filterBarDate{
                margin: 1px 1px;
                padding: 3px 0px;
                border-radius: 5px;
                border: none;
                font-size: small;
            }
        }

        th {
            background-color: hsl(0 0% 0% / 0.5);
        }

        tr:nth-of-type(2n) {
            background-color: hsl(0 0% 0% / 0.25);
        }

    }

    .btns {
        display: block;
        width: fit-content;
        font-size: larger;
        padding: 10px;
        text-decoration: none;
        background-color: rgb(41, 39, 39);
        color: white;
        border-radius: 5px;
        border-style: none;
        transition: background-color 0.3s, color 0.3s;

        &:active {
            background-color: beige;
            color: black;
        }

        &:hover {
            box-shadow: 5px 5px 10px rgba(rgb(248, 248, 248), 0.2);
        }
    }

    .img {
        margin: auto;
        padding: 3px;
        cursor: pointer;
        border: none;
        border-radius: 30%;
        width: 80%;
        height: 80%;
        // background: rgb(223, 178, 178);
        transition: box-shadow 0.3s, background-color 0.1s, color 0.1s;
        &:hover{
            box-shadow: 5px 5px 10px rgba(black, 0.7) ;
        }
        &:active{
            background-color: rgb(65, 64, 64);
            color: white;
        }
    }
    .deleteImg{
        margin: auto;
        padding: 3px;
        cursor: pointer;
        border: none;
        border-radius: 30%;
        width: 80%;
        height: 80%;
        // background: rgb(223, 178, 178);
        transition: box-shadow 0.3s, background-color 0.1s, color 0.1s;
        &:hover{
            box-shadow: 5px 5px 10px rgba(black, 0.7) ;
        }
        &:active{
            background-color: rgb(65, 64, 64);
            color: white;
        }
    }
    #deleteSelected{
        margin: auto;
        color: white;
        font-weight: bolder;
        padding: 5px;
        cursor: pointer;
        border: none;
        border-radius: 9px;
        background: rgb(247, 75, 75);
        transition: box-shadow 0.3s, background-color 0.1s, color 0.1s;
        &:hover{
            box-shadow: 3px 3px 10px rgba(black, 0.5) ;
        }
        &:active{
            background-color: rgb(65, 64, 64);
            color: white;
        }
    }
    .editMode{
        background-color: rgb(119, 111, 111) !important;
    }
    .darkImg{
        filter: brightness(50%)
    }
    .invisable{
        background-color: transparent;
        border: none;
    }

}
