.calContainer{
    margin: 0 auto;
    height: fit-content;
    width: 25rem;
    border: 2px solid gray;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .displayResult{
        border: 2px solid gray;
        width: 80%;
        height: 10rem;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-weight: bold;

    }
    .numbers{
        border: 2px solid gray;
        height: 5rem;
        width: 5rem;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }
}