
.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-top: 300px;   
}
body {
    margin: 0px auto;
}
.logos {
    height: 80px;
    width: 100px;
    display: flex;
    flex-direction: row;
    padding-top: 80px ;
    align-items: flex-end;
}
.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    background-color: beige;
    height: 50px;
    width: 800px;
    align-items: center;
    border-radius: 15px;
    padding: 5px 4px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
}
.head-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-item {
    text-decoration: none;
    color: #333;
}
.nav-item:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    margin-top:50px ;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.seperator {
    border: 6px solid black;
    border-radius: 20px;
    margin: 50px 50px 150px;
}
h1 {
  text-align: center;
  font-size: 55px;
  margin-top:50px ;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
}
.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    width: 100%;
    display: none;
    max-height: 700px;
  }
  
  .next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    font-size: 20px;
  }
  
  .next {
    right: 0;
  }
  
  .prev {
    left: 0;
  }
  
  .dot-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }
  
 
  