#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
  padding: 0 70px;
}

.today-link {
  margin-right: 20px;
}

.today-link,
.week-link {
  padding: 3px 0;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  color: var(--secondary);
}

.today-link.active,
.week-link.active {
  font-weight: 800;
  color: var(--primary);
  border-bottom: 2px solid var(--primary);
}

.navbar-btns-container {
  display: flex;
  gap: 20px;
}
