*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
 .hero
 {
    background-image: linear-gradient(#f68df6,#9ddfe8);
 }
 .top-bar
 {
    padding: 20px;
 }
 .top-bar img
 {
    width: 180px;
 }
.top-button
{
    float: right;
}
.top-button a
{
    margin: 8px;
    padding: 8px 20px;
    border-radius: 50px;
    background: #fff;
    color: #333;
    text-decoration: none !important;
    border: 2px solid #fff;
}
.login-btn
{
    background: #fff !important;
    color: #1f1e1e !important;
}
.top-button a:hover
{
    background: transparent !important;
    color: #ffffff !important;
}
.hero h1
{
color: #fff;
font-size: 70px;
font-weight: bold;
margin-top: 30%;
letter-spacing: 3px;
}
.hero p
{
    color: #fff;
    font-size: 20px;
}
.hero.container
{
    margin-top: 13%;
}
.start-btn
{
    background: transparent;
    border: 2PX solid #fff;
    color: #fff;
    width: 140px;
    height: 40px;
    margin-top: 30px;
    border-radius: 50px;
}
.home-img img
{
    width: 85%;
    min-width: 350px;
    margin-top: 10%;
}
.Influencers
{
    padding: 30px 0;
    background: #ffffff;
}
.Influencers .container
{
    margin-bottom: -200px !important;
}
.Influencers h1
{
    margin: 60px 0;
    color: #1f1e1e;

}
.person-img
{
    height: 450px;
}
.person-img img
{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;

}
.person-details
{
background: #fff;
padding: 10px 0 1px;
margin-bottom: 15px;
}
.profile
{
    padding: 30px 0;
    background-image: linear-gradient(#f68df6,#9ddfe8);
}
.profile-card
{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 40px 0 rgba(17, 39, 125, 0.18);
    margin-bottom: -360px !important;
    margin-top: 370px;
    
}
.profile-details
{
    padding: 40px;
}
.profile-details h2
{
    color: #ff55aa;
    margin-bottom: 35px;
}
.Followers span
{
    display: inline-block;
    color: #ff55aa;
    margin: 35px 20px 35px 0;
}
.profile-details h5,p
{
    color: #555;
}
.btn-follow
{
    background: #ff55aa;
    border: none;
    color: #fff;
    width: 130px;
    height: 40px;
    margin-top: 56px;
    border-radius: 50px; 
}
.profile-img
{
    text-align: center;
}
.profile-img img
{
    width: 70%;
    min-width: 350px;
}
.footer
{
    padding: 50px 0 20px;
    background-image: linear-gradient(#f68df6,#9ddfe8);
    margin-top: 400px;
}
.store-icon img
{
    width: 150px;
    margin-top: 0 10px 50px;
}
.footer-menu a
{
    display: inline-block;
    width: 120px;
    color: #fff !important;
    text-decoration: none !important;
    margin-bottom: 20px;
}
.footer p
{
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}