body, html {
    margin: 0;
    padding: 0 10px;
    height: 100%;
    background-color: #fff;
    scrollbar-width: none;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top {
    flex: 0 0 10px;
    background-color: #cfcfcf;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: stretch;
    background-color: #cfcfcf;
    border-top: none;
}

.bottom .left, .right, .middle {
    flex: 0 0 20%;
    margin: 0 10%;
}
.bottom .middle {
    flex-grow: 1;
    text-align: center; 
    padding: 0;
}
.nav {
    text-align: center;
}
  
.nav ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}
  
.nav ul li {
    display: inline;
}
  
.nav ul li a {
    display: inline-block;
    margin-top: 20px 20px;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
  
/*.nav ul li a:hover {
    color: #FEA000;
    text-decoration: underline;
}*/
iframe{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
