.body {
margin: 0;
}
 
.body{
background-color:rgba(244, 239, 239, 0.791); 
}

.div {
display: flex;
background: #d6d4d4;
color: rgb(0, 0, 0);
padding: 8px 18px; 
font-size: 15px;
text-align: center;
}

.container {
display: flex;
flex-direction: row;
justify-content: flex-start;

}

.button-home-page {
color: black;
background: #d6d4d4;
border: none ;
cursor: pointer ;
font-size:larger;
position: relative; /* קישור יהיה במקום קבוע */
top: 1%; /* מציין את המרחק מהחלק העליון של העמוד */
left: 10%; /* מציין את המרחק מהצד השמאלי של העמוד */
}

.button-home-page:hover {
background-color: #a9a6a6;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* צל לאלמנט */
border-radius: 6px;
}


.button-new-post {
color: black;
background: #d6d4d4;
border: none ;
cursor: pointer;
font-size:larger;
position: relative; /* קישור יהיה במקום קבוע */
top: 1%; /* מציין את המרחק מהחלק העליון של העמוד */
left: 20%; /* מציין את המרחק מהצד השמאלי של העמוד */
}

.button-new-post:hover {
background-color: #a9a6a6;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* צל לאלמנט */
border-radius: 6px;
}


.form {
    color: rgb(202, 202, 202) ;
    position: absolute; /* מיקום יחסי לאב קרוב */
    width: 200PX; /* רוחב הפורם */
    padding: 40px;
    border: 1px solid #ccc; /* מסגרת */
    border-radius: 5px; /* עיגול פינות */
    background-color: #eb8006; /* צבע הרקע */
    top: 50%; /* פיקוד למרכז האנכי */
    left: 50%; /* פיקוד למרכז האופקי */
    transform: translate(-50%, -50%); /* תיקוני סרגל הנגיעה */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); /* צל לאלמנט */
    
}



.logo { 
   
    display: block; /* להבטיח שהתמונה תהיה ברוחב מלא של המסמך */
    margin: 0 auto; /* להשוות את התמונה למרכז המסמך */
}

.h2-title { 
    font-size: 25px;
    text-align: center;
    color: black;
    
}

.input-form {
    width: 190px;
    margin-top: 3px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}



.label-form {
    color: black;
}

.submit-1 {
background-color: #eb8006;  
font-size: 20px;
border-radius: 6px;
cursor: pointer;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* צל לאלמנט */
}

.submit-1:hover {
    background-color: black;
    color: orange;
}

.file {
    border-radius: 6px;
    cursor: pointer;
    color: black;
    
}

.select-gender {
    width: 200px;
    margin-top: 3px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    direction: rtl;
}

