body {
    background-color: rgb(246, 246, 246);
    text-align: center;
}
h1 {
    font-family: fantasy;
    background-color: bisque;
    border-radius: 10px;
    margin: 100px 200px auto ;
}          
article {
    font-family:'poppings' sans-serif;
    font-size: large;
    padding: 28px 30px 30px ;
}
img {
    padding-top: 30px ;
    padding-bottom:25px ;
}
#img.un {
    padding-top: 30px ;
    padding-bottom: 25px;
}
#popup {
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    background:rgb(246, 246, 246);
    text-align: center;
    padding: 20px ;
}
#close-popup {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}