div.container {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 140%;
    background-color: #333;
}
h1 {
    background-color: #333;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size:40px;
    padding-top:10px;
    padding-bottom: 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    font-family: "Oswald", sans-serif;
}
h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 30px;
}
body {
    background-color:#00283d;
}
.para {
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.container-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    height: 35px;
    padding: 0px 15px;
    padding-top: 12px;
}
li  {
    list-style: none;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.container2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    padding-top: 100px;
    margin-bottom: 300px;
    gap: 15px;
}
.divp {
    padding-top:0;
    padding-bottom: 30px;
    font-family: "Roboto Condensed", sans-serif ;
    font-size: 30px;
}
.divban {
    background-color:rgb(255, 255, 255);
    height: 200px;
    width: 300px;
    text-align: center; 
    border-radius: 10px; 
}
body {
    zoom: 0.8;
    transform: scale(1.0);
}
.divban1 {
    background-color:#333;
    height: min-content;
    width: 300px;
    text-align: center; 
    border-radius: 10px; 
}
.divban2 {
    width: 300px;
    height: min-content;
    background-color: whitesmoke;
    text-align: center; 
    border-radius: 10px; 
}
.divban3 {
    background-color:#333;
    height: 300px;
    width: 300px;
    text-align: center; 
    border-radius: 10px; 
}
.divban4 {
    background-color:whitesmoke;
    height: 425px;
    width: 300px;
    text-align: center; 
    border-radius: 10px; 
}
.bantitle {
    font-family: "Roboto Condensed", sans-serif ;
    font-size: 20px;
    border-radius: 10px;
}
.bantitle1 {
    background-color: whitesmoke;
    color: #333;  
    font-family: "Roboto Condensed", sans-serif ;
    font-size: 20px;
    border-radius: 10px;      
}