h1 {  
    text-align: center;  
    padding: 23px;  
    background-color: skyblue;  
    color: white;  
    }  
  
#clear{  
width: 270px;  
border: 3px solid gray;  
    border-radius: 20px;  
    padding: 20px;  
    background-color: rgb(239, 36, 198);  
    color: black;
}  
  
.formstyle  
{  
width: 300px;  
height: 530px;  
margin: auto;  
border: 3px solid skyblue;  
border-radius: 30px;  
padding: 20px;  
}  
  
  
  
input  
{  
width: 20px;  
background-color: rgb(128, 227, 255);  
color: rgb(0, 0, 0);  
    border-radius: 20px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 20px;  
}  
  
#calc{  
width: 250px;  
border: 3px solid black;  
    border-radius: 20px;  
    padding: 20px;  
    margin: auto;  
}  