.containerNavBar{
    margin: auto;
    width: 70%;
    height: 5rem;
    display: flex;
   justify-content: space-evenly;
}
.containerNavBar-item{
    height: 100%;
    width: 10rem;
    position: relative;
    display: inline-block;
    img{
        height: 100%;
    }
    
}
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .dropdown-content a {
    color: black;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
  
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  
i{
    cursor: pointer;
}
.photoContainer{
    margin: auto;
    width: 70%;
    display: flex;
    height:25rem;
    margin-top: 2rem;
    
}
.photoContainer-Item{
    height: 100%;
    display: inline;

    img{
        height: 100%;
        border-radius: 5px;
    }
}
.photoContainer-Item2{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    gap: 5px;
    width: 80%;

    img{
        height: 50%;
        width: 80%;
        border-radius: 5px;
    }
}
.articleContainer{
    position: relative;
    top: 2rem;
    margin: auto;
    width: 70%;
    font-family: Founders,Verdana,Geneva,Tahoma,sans-serif;
    
    h1{
        text-align: center;
        font-family: Neausa,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    }
    p{
        margin-bottom: 3rem;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 40%;
    height: 20rem;
    border: 1rem double rgb(247, 212, 97);
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  #popupHeader{
    width: 90%;
    margin: auto;
    height: 30%;
    img{
        height: 5rem;
    }
    h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        display: inline;
        position: relative;
        bottom:2rem;
        font-size: xx-large;
        
    }
  }

  #popupContents{
    font-family: Founders,Verdana,Geneva,Tahoma,sans-serif;
  }
  #popupFooter{
    position: relative;
    top: 3rem;
    display: flex;

    input{
        width: 50%;
        margin-right: 3rem;
        outline: none;
        font-size: 16px;
        padding: 10px 0;
        border: none;
        border-bottom: 2px solid #ccc;
        width: 50%;
        background-color: transparent;
        transition: border-color 0.3s ease-in-out;
    }
  }
  .bottom{
        cursor: pointer;
        position: relative;
        padding: 1rem ;
        font-size: 18px;
        color: rgb(193, 163, 98);
        border: 2px dotted rgb(193, 163, 98);
        border-radius: 34px;
        background-color: transparent;
        font-weight: 600;
        overflow: hidden;
      }
