.form-seperator {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  color: #737373;
  width: 100%;
  text-align: center;
  margin: 14px 0 22px 0;
}

.form-seperator::before,
.form-seperator::after {
  content: "";
  position: absolute;
  height: 0.7px;
  width: 40%;
  background-color: #dbdbdb;
  top: 45%;
}

.form-seperator::before {
  left: 0;
}

.form-seperator::after {
  right: 0;
}
