.containerBox1 {
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)),
                      linear-gradient(#2E5C6E, #6cb7d4);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-radius: 10px; */
    /* background-color: #78A1BB; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    display: flex;
    flex-direction: column;
    width: 750px;
    color: #ffff;
}

.title1 {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .temp {
        font-size: 70px;
        padding: 15px;
        padding-left: 27px;

    }
    .area{
        padding: 25px;
        font-size: 40px; 
        color: #05283d;
    }
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.WeatherDescription {
    font-size: 25px;
    .value {
        font-size: 45px;
        font-weight: 700;
        color: black;
        padding: 10px;
    }
}

.imgIcon {
  align-items: center;
  width: 100px;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-box {
    opacity: 0; 
    animation: fadeInSlide 0.8s ease-out forwards;
}
