
.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .logo-item {
    margin: 10px;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  .logo-image {
    max-width: 400px;
    height: auto;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }


  