body{
    margin: 0px;
}

.nav{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.nav ul{
    list-style: none;
    display: flex;
   gap: 1rem;
   text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(109, 13, 85);
    
}


h1{
   color: black;
}

a:hover{
    font-size: 22px;
    color: rgb(42, 20, 43);
    border-radius: 3px;
}

