.post-container {
    height: 796px;
    width: 446px;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.post-container .post-header {
    width: 470px;
    height: 46px;
    padding-left: 4px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    box-sizing: border-box;
}

.post-container .post-header .profileImage {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 10px solid; 
    border-image: linear-gradient(65deg, #d53a9d, rgb(250,224,66)) 1; 
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #fff;
}


.post-container .post-header .profileImage img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}




.post-container .post-header .text-header-box {
    width: 290px;
    height: 34px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-container .post-img {
    width: 468px;
    height: 585px;
    background-color: rgb(156, 156, 156);
}



.post-container .icons-container {
    width: 470px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.post-container .icons-container .left-icons-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    padding: 8px 0;
}

.post-container .icons-container .right-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
}

.post-container .icons-container .icon {
    font-size: 27px;
}

.post-container .icons-container .icon:hover {
    color: #999999;
}











