#forecast {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-btn {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
  background: none;
  border: none;
  border-bottom: 1px solid var(--secondary);
  padding: 12px 10px;
  cursor: pointer;
  transition: padding 0.2s ease-in-out;
}

.advanced-btn:hover {
  padding-bottom: 18px;
  padding-top: 10px;
}

.advanced-btn:active {
  transform: scale(0.97);
}
