.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posts-title {
    margin: 20px 0 50px 20px;
    font-size: 30px;
    font-weight: 600;
    color: #262626;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 8px #dbdbdb;
    letter-spacing: 2px;
    text-decoration: underline;
}

.posts-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: fixed;
    z-index: 4000;
    top: 10px;
    left: 10px;

}

.posts-btn:hover {
    background-color: #123953;
}


.posts {
    display: flex;
    margin: 20px 0 10px 20px;
}

.post-container {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #dbdbdb;
    padding: 5px;
    border-radius: 5px;
}

.header-titles {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    margin-top: 10px;
}


.post-h2,
.post-h3,
.post-email,
.post-gender {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    color: red;
}


.post-h2 span,
.post-h3 span,
.post-email span,
.post-gender span {
    font-size: 18px;
    color: #262626;
    font-weight: 900;
    padding: 5px;
    margin: 10px 0;
}


.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 20px;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}



.location-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.location,
.street,
.timezone {
    font-size: 12px;
    font-weight: 400;
    color: #262626;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: red;
}

.location span,
.street span,
.timezone span {
    font-size: 16px;
    color: #262626;
    font-weight: 900;
    padding: 5px;
    margin: 10px 0;
    text-decoration: underline;

}