.body {
    margin: 0px;

}

.body {
    background-image: url(https://www.bmw.co.il/he/index/_jcr_content/root/maincontent/contentblueprint/contentblue_copy_cop_1503516009/backgroundmedia/image.coreimg.jpeg/1706538551406/131497-ay-1680-%C3%97-756-new.jpeg);
    background-size: cover; /* מתאים את גודל התמונה לגודל המסך */
    background-repeat: no-repeat; /* מונע השקפות מרובות של התמונה */
    background-attachment: fixed; /* מקבע את התמונה במקום גם כאשר המשתמש גולל */
    
}


.div-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* צל לאלמנט */
    height: 50px;
    background-color: black;
}


.button-home {
    width: 100px;
    height: auto;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}

.button-about-us {
    width: 100px;
    height: auto;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}


.button-catalog {
    width: 100px;
    height: auto;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;

}

.button-car-rentel {
    width: 100px;
    height: auto;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}


.img-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
}

.text-container {
   padding: 1px ;
   background-color: rgba(255, 255, 255, 0.557);
}

.h1-title {
    margin-left: 1%;
    font-size: 40px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;

}

.h2-name {
    margin-left: 1%;
    text-decoration: underline;
    text-align: center;
}


.h3-title, .h2-text, .h4-text, .p {
    text-align: left;
    text-align: center;
}


.p-1 {
    font-size: small;
    text-align: center;
    
}

.whatsapp {
    position: fixed;
    max-width: 80px;
    max-height: 80px;
    bottom: 5px;
    left: 10px;
}