.main {
    margin-top: 60px;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-grow: 1;
  }

.main .login-form {
    width: 350px;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #dbdbdb;
    padding: 0px 40px;
    
 }

.main .register-form {
   min-height: 606px;
   padding: 10px 40px;
   gap: 5px;
}

.main .login-form .instagram-text-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
 }

.main .login-form .short-explanation-container {
   text-align: center;
   color: #737373;
    font-size: 16px;
    line-height: 20px;
    text-align-last: inherit;
    font-weight: 600;
    color: rgb(115, 115, 115);
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

.main .login-form .general-btn-height {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 6px;
 }

.main .login-form .flex-item-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
 

.main .login-form .flex-item-wrapper .or-text {
   position: relative;
   font-size: 13px;
   font-weight: 600;
   color: #737373;
   width: 100%;
   text-align: center;
}
 
.main .login-form .flex-item-wrapper .or-text::before,
.main .login-form .flex-item-wrapper .or-text::after {
   content: "";
   position: absolute;
   height: 1px;
   width: 40%;
   background-color: #dbdbdb;
   top: 45%;
}
 
.main .login-form.flex-item-wrapper .or-text::before {
   left: 0;
 }
.main .login-form .flex-item-wrapper .or-text::after {
   right: 0;
 }

.main .login-form .Links-to-information {
   font-size: 12px;
   text-align: center;
   color: #737373;
}

.main .login-form .bth-signup {
   opacity: 0.7;
   margin-bottom: 10px;
} 

.main .sign-up-section {
   margin: 10px 0;
   width: 350px;
   height: 63px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #dbdbdb;
   font-size: 14px;
 }
 
 .main .sign-up-section .sign-up-text {
   color: #0095f6;
   font-weight: 600;
}

.main .get-app-section {
   width: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
.main .get-app-text {
   height: 31px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
 }
 
.main .get-app-img-container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   margin-top: 10px;
 }
 
.main .get-app-section .google-play img {
   height: 40px;
   width: 134.28px;
 }
 
.main .get-app-section .microsoft img {
   height: 40px;
   width: 110.76px;
 }










  