body {
    background-image: url(/01-HTML-CSS/michael/RentalCar-website-Project/photos-files/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito Sans", sans-serif;
}

.container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.father-div {
    background-color: #333;
    width: 550px;
    height: 200px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;
    text-align: center;
}

a {
    text-decoration: none;
    text-decoration: underline;
    color: white;
}
a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}