body {
    background-image: url(/01-HTML-CSS/michael/RentalCar-website-Project/photos-files/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito Sans", sans-serif;
}

.header-div {
    text-align: center;
    margin-top: -10px; 
}

.ul-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
    color: white;
    background-color: #333;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    width:700px; 
    margin: 0 auto; 
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-bottom: #5e5e5e 8px solid;
    
    
   
    
}

.li-nav:hover {
    text-decoration: underline 1px white;   
    background-color: #585858;
    padding: 5px 10px;
    border-radius: 35px;
    border-left: 4px solid white;
    border-right: 4px solid white;
}
.li-nav {
    background-color: #202020;
    padding: 5px 10px;
    border-radius: 35px;
   
}

.a-nav {
    text-decoration: none;
    color:white;
    
}

.container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 125px;
    margin-top: 100px;

}

.pdiv1 {
    background-color: #333;
    width: 250px;
    height: 400px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;
    text-align: center;
}

.media-ul {
    list-style: none;
}

.a-media {
    text-decoration: none;
    color:white;
    background-color: #5e5e5e;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.a-media:hover {
    text-decoration: none;
    color:white;
    background-color: #5e5e5e;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.308);
    font-weight: bolder;
}

h2 {
    background-color: #5e5e5e;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.logo-div {
    text-align: center;
    margin-top: 50px;
}
.logop {
    font-size: 20px;
    color: rgb(63, 63, 63);
    font-weight: lighter;

}

.footer-div {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    height: 30px;
}
.footer-p {
    padding-top: 5px;
    
}
.footer-p:hover {
    padding-top: 5px;
    font-weight: bolder;
    cursor:none;

}