body {
    background-image: url(/01-HTML-CSS/michael/RentalCar-website-Project/photos-files/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito Sans", sans-serif;
}

.header-div {
   
    margin-top: -10px; 
}

.ul-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
    color: white;
    background-color: #333;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    width:700px; 
    margin: 0 auto; 
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-bottom: #5e5e5e 8px solid;
    padding: 25px;
    
    
   
    
}
.li-nav img {
    margin-bottom: 0px; 
}

.li-nav p {
    margin-top: 0px; 
}

.li-nav:hover {
    text-decoration: underline 1px white;   
    background-color: #585858;
    padding: 5px 10px;
    border-radius: 35px;
    border-left: 4px solid rgb(255, 81, 249);
    border-right: 4px solid rgb(255, 81, 249);
    box-shadow: 0 0 10px rgba(255, 105, 237, 0.3);
}
.li-nav {
    background-color: #202020;
    padding: 5px 10px;
    border-radius: 35px;
   
}

.a-nav {
    text-decoration: none;
    color:white;
    
}

.father-div {
    background-color: #333;
    width: 550px;
    height: 350px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;

}
.father-div.version-2 {
    background-color: #333;
    width: 550px;
    height: 750px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;

}
.father-div.version-4 {
    background-color: #333;
    width: 550px;
    height: 350px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.father-div.version-3 {
    background-color: #333;
    width: 550px;
    height: 550px;
    padding: 50px;
    border-radius: 35px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    border-left: #5e5e5e 15px solid;
    border-right: #5e5e5e 15px solid;
    border-top: #5e5e5e 8px solid;
    border-bottom: #5e5e5e 8px solid;


    justify-content: center;
}
.father-div.active {
    display: block;
}
.father-div:not(.active) {
    display: none;
}
.container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}
select {
    width: 150px;
    height: 25px;
    border-radius: 15px;
}
.button-div {
    background-color: gray;
    width: 250px;
    height: 40px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2px;
    text-align: center;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.button1, .button2 {
    border: 0px;
    border-radius: 35px;
    width: 250px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
}
.button1:hover, .button2:hover{
    border: 0px;
    border-radius: 35px;
    width: 250px;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 250px;
}
input {
    width: 250px;
    height: 30px;
    border-radius: 35px;
    margin-bottom: 15px;
 
    
}
.change-div-button {
    z-index: 1;
    justify-content: flex-start;
}
.ren-head {
    display: flex;
    flex-direction: column;
  align-items: center;
    margin-top: 25px;
    gap: 0;
}
h2 {
    white-space: nowrap;
    overflow: hidden;
}
.change-div-button {
 padding: 5px;
 border-radius: 15px;
 background-color: #555555;
 color: white;
 cursor: pointer;
}
.change-div-button:hover {
 padding: 5px;
 border-radius: 15px;
 background-color: #555555;
 color: white;
 cursor: pointer;
 box-shadow: 0 0 10px rgba(223, 223, 223, 0.6);
}

.footer-div {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    height: 30px;
}
.footer-p {
    padding-top: 5px;
    
}
.footer-p:hover {
    padding-top: 5px;
    font-weight: bolder;
    cursor:none;

}

.credit-p {
    font-size: smaller;
    color: rgb(173, 173, 173);
    font-weight: lighter;
}