.forgot-pwd-form {
  position: relative;
  width: 388px;
  margin-top: 9px;
  padding-top: 0;
}

.forgot-pwd-form .instagram-text-logo-container {
  position: relative;
  align-self: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin: 24px 0 16px 0;
  background-image: url('../../../../assets/icon-sheet.png');
  background-position: -130px 0;
}

.forgot-pwd-form .instagram-text-logo-container img {
  display: none;
}

.forgot-pwd-form .header {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.forgot-pwd-form .description {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  text-align: center;
}

.forgot-pwd-form .form-input-wrapper {
  margin-bottom: 16px;
}

.forgot-pwd-form .cant-reset-pwd-link {
  margin: 12px 0 16px 0;
  color: #00376b;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.forgot-pwd-form .cant-reset-pwd-link:active {
  opacity: 0.6;
}

.forgot-pwd-form .form-seperator {
  margin: 16px 0;
}

.forgot-pwd-form .create-new-account-link {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 16px auto;
}

.forgot-pwd-form .create-new-account-link:hover {
  opacity: 0.5;
}

.forgot-pwd-form .back-to-login-link {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  background: #fafafa;
  color: #262626;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-top: 1px solid #dbdbdb;
}

.forgot-pwd-form .back-to-login-link:hover {
  color: #9b9b9b;
}
