body{
    background-image: url(./תמונת\ רקע.jpeg);
    background-size: cover;     /*התאמת התמונה לגודל המסך*/
    font-family: "Assistant", Arial, sans-serif;
    background-repeat: repeat;   /*שהתמונה לא תחזור על עצמה*/
}

.head{
    background-color:aliceblue;
    height: 100%;
}


.logo{
    text-align: center;
    color: #d70926;
}

ul{
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 25px;
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
    padding: 0;
    flex: 0 0 auto;
    width: 41.66666667%;
}

.icon{
    display: inline-block;
    position: relative;
    background-color: aliceblue;
}

.icon2{
    height: 38px;
    width: 38px;
}

input{
    background-color: aliceblue;
}

aside{
    text-align: right;
}

span{
    font-size: 50px;
    padding-right: 15%;
    font-family: "Assistant", Arial, sans-serif;
}

.span2{
    font-size: 20px;
}

.carousel-container{
    display: flex;
    width: 100%;
}

.carousel-slide{
    min-width: 100%;
    box-sizing: border-box;
}

.img{
    margin-left: 20%;
    width: 60%;
    height: auto;
    display: block;
}

.imgHome{
    width: 130px;
}

td:hover{
    border: 1px dotted #d70926 ;
    border-radius: 5px;
}

.tableHome{
    margin-top: 4%;
    margin-left: 6%;
    margin-bottom: 4%;
}

.tdHome{
    padding: 0 20px;
}

footer div{
    background-color: aliceblue;
}

.content{
    display: flex;
    margin-left: 43%;
}

.div{
    cursor: pointer;
    padding: 10%;
    width: 70px;
}

.form{
    margin-top: 6%;
   margin-right: 10%;
   margin-bottom: 10%;
}
.formP{
    font-size: 22px;
    font-family: "Assistant", Arial, sans-serif;
}

.formInput{
    border-radius: 8px;
    background-color: #d70926;
    color: aliceblue;
    border: 1px solid aliceblue;
}

.divAbout{
    margin-right: 40%;
}

.h1About{
    color: #d70926;
    margin-top: 10%;
}

.h2About{
  margin-right: 32%;
}

.divPAbout{
    margin-right: 20%;
}

.divImgAbout{
   padding: 8% 10%;
}

.imgAbout{
    display: inline-block;
    width: 45%;
}

.divPAbout2{
    margin-top: 5%;
    margin-bottom: 15%;
}

.h1Catalog{
    color: #d70926;
    margin-top: 5%;
    margin-right: 5%;
}

.divCatalog{
    padding-right: 5%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
  }
  
  .flex-container > div {
    background-color: #fff;
    margin: 10px;
    line-height: 100px;
    width: 350px;
    border: #d70926 5px solid;
    border-radius: 8px;
    text-align: center;
  }
  .flex-container > div > p{
    margin-top: 0px;

  }

  .flex-container > div >a> button{
    float:left;
    margin-left: 30%;
    border-radius: 5px;
    background-color: rgb(176, 46, 109);
    cursor: pointer;
    border: none;
    color: #fff;
    height: 50px;
    width: 100px;
    margin-bottom: 30px;
    text-align: center;
    
  }
.flex-container > div:hover{
   border: 7px solid brown;
}

.flex-container >div>a>input{
    width: 100px;
    height: 50px;
}


