body {
    background-image: url(view.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
    
}

h2 {
    text-align: center;
    font-size: 60px;
    text-decoration:underline; /*  קו תחתון */
    margin: 5px 0px 5px 0px;
}


.burron {
  display:flex;
  flex-direction: row;
  gap :10px;
  padding-top: 5px;
}

.button-arrivalinstructions {
    position: relative; /* קישור יהיה במקום קבוע */
    top: 1%; /* מציין את המרחק מהחלק העליון של העמוד */
    left: 3%; /* מציין את המרחק מהצד השמאלי של העמוד */
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px;
    cursor: pointer;


}

 .button-allergic {
    position: relative; /* קישור יהיה במקום קבוע */
    top: 1%; /* מציין את המרחק מהחלק העליון של העמוד */
    left: 3%; /* מציין את המרחק מהצד השמאלי של העמוד */
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 5px;
    cursor: pointer;

 }

 .form {
    color: rgb(202, 202, 202) ;
    position: absolute; /* מיקום יחסי לאב קרוב */
    width: 200PX; /* רוחב הפורם */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0e0d0d;
    top: 50%; /* פיקוד למרכז האנכי */
    left: 50%; /* פיקוד למרכז האופקי */
    transform: translate(-50%, -50%); /* תיקוני סרגל הנגיעה */
 }

.input-text-select {
    margin-top: 4px;
}

.submit-1 {
    padding: 4px;
    background-color:palevioletred;
}