.weatherBox {
    border: 2px solid black;
    border-radius: 22px;
    padding: 10px;
    position: relative;
}
.weatherBox .weatherBox-time {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background: white;
    padding: 0 10px;
}