.weather-hourly-container .weather-hourly-title {
    margin-block-end: 20px;
}
.weather-hourly-container .hours-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 0 10px 40px 10px;
}
.weather-hourly-container .hours-container .weatherBox {
    /*width: 150px;*/
    flex: 1 0 16%;
    box-sizing: border-box;
    min-width: 0;
}