.general-btn {
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  border-radius: 8px;
  border: none;
  padding: 0 16px;
  background-color: #0095f6;
  color: #ffffff;
  line-height: 1;
  cursor: pointer;
}

.general-btn:hover {
  background-color: #007ac1;
}

.general-btn:active {
  background-color: #0095f6;
  opacity: 0.8;
}
