body, html {
    margin: 0;
    padding: 0 10px;
    height: 100%;
    background-color: #f7f7f7;
}
.container{
    display: flex;
}
.left{
    width: 40%;
    height: 100vh;
    padding: 10px;
    margin-right: 5px;
}
.right{
    width: 60%;
    height: 100vh;
    padding: 10px;
    margin-left: 5px;
}
.formDiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    margin-top: 20px;
}