body {
    background-color: rgb(227, 255, 255);
}

header {
    width: 100%;
    height: 100px;
    background-color: none;
    margin-top: 40px;

}

header p {
    font-size: 60px;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    
}

.flexboxcontainer {
    overflow: hidden;
    background-color: rgb(0, 61, 61);
    

}

.flexboxcontainer div {
    background: none;
    font-size: 30px;
    color: #fff;
    text-align: center;
    float: left;
    width: 14.97%;
    text-decoration: none;
    padding: 14px 16px;
    
}


.a {
    color: #fff;
    text-decoration-line: none;
    
}

.flexboxcontainer div:hover {
    background-color: rgb(0, 94, 94);
    
}

.Explanation-cubes {
    background-color: rgb(239, 255, 255);
    background-image: linear-gradient(rgb(239, 255, 255), rgb(255, 227, 167));
    border-radius: 7px;
    width: 90%;
    min-height: 500px;
    margin-top: 40px;
    margin: 50px auto 50px auto;
    box-shadow: 0 0.5rem 1.2rem rgba(0,0,0,.2);
    padding: 30px; 
    padding-bottom: 50px;
      
}

.Explanation-cubes-tytle {
    font-size: 60px;
    font-family: "Protest Riot", sans-serif;
    margin-left: 30px;
    margin-top: 30px; 
    text-align: center;
    color: rgb(0, 63, 63);  
}



.littleflexcontainer {
    display: flex;
    background-color: rgb(189, 39, 39);
    border: 1px solid #000000;
    width: 200px;
    border-radius:5px;
    margin: auto;
    
}

.littleflexcontainer > div {
    background-color: rgb(255, 172, 17);
    border: 1px solid #fff;
    text-align: center;
    width: 30px;
    height: 20px;
    margin: 5px;
    border-radius: 2px;
    padding-top: 20px;
    
}

.littleflexcontainer1 {
    display: flex;
    background-color: rgb(189, 39, 39);
    border: 1px solid #000000;
    width: 200px;
    height: 100px;
    border-radius:5px;
    margin: auto;
    
}

.littleflexcontainer1 > div {
    background-color: rgb(255, 172, 17);
    border: 1px solid #fff;
    text-align: center;
    width: 30px;
    margin: 5px;
    border-radius: 2px;
    padding-top: 20px;
}

table {
    width: 100%;
    align-items: center;
    border-spacing: 10px;
    border-collapse: collapse;
    margin-top: 50px;
    


}

table tr th {
    font-size: 30px;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    height: 40px;
    padding: 10px 20px;
    color: rgb(190, 76, 0);
    text-shadow: 0 0 3px 0;
    
}

table tr td {
    text-align: center;
    padding: 10px;
    
}



















  

