* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, skyblue 10%, #17191a 90%);

  }
  
  header {
    height: 250px;
    width: 100%;
  }
  
  nav {
      background: linear-gradient(135deg, skyblue 0%, #17191a 100%);
      padding: 20px;
      text-align: center;
    }
    
    nav a {
      color: #FFFFFF;
      padding: 10px 15px;
      margin: 0 10px; 
      display: inline-block; 
      background-color: #ffffff33;
      border-radius: 20px; 
      text-decoration: none; 
      transition: all 0.3s ease-in-out; 
    }
    
    nav a:hover {
      background-color: rgba(255, 255, 255, 0.4); 
      color: black; 
      transform: scale(1.1); 
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
      text-shadow: 1px 1px 3px gold;
    }
    
    article {
      padding: 20px;
      width: 100%;
      background-color: #f1f1f1; 
      height: auto;
      box-shadow: 0 5px 25px rgba(0,0,0,0.2);
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
      border-radius: 10px; 
      overflow: hidden; 
      position: relative; 
    }
    
    h2 {
      color: #18151b; 
      text-transform: uppercase;
      text-shadow: 2px 2px 5px white;
      text-decoration: underline;
      margin-bottom: 10px; 
      position: relative; 
      z-index: 1; 
    }
    
    article:hover {
      background: linear-gradient(135deg, skyblue 0%, #17191a 100%);
      box-shadow: 0 10px 30px black; 
      transform: translateY(-5px);
      color: #fff; 
      cursor: pointer;
      font-size: large;
    }
  
  footer {
    background-color: #777;
    padding: auto;
    text-align: center;
    color: white;
  }
  
  .modal {
      display: none; /* מוסתר כברירת מחדל */
      position: fixed; /* הישאר במקום */
      z-index: 1; /* שב למעלה */
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; /* אפשר גלילה במידת הצורך */
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
      background-color: #fefefe;
      margin: 15% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
  }
  .modal-content:hover{
      box-shadow: 0px 10px 15px black;
      cursor: pointer;
      transition: 0.5s;
      text-shadow: 2px 2px 5px black;
      background: linear-gradient(135deg, skyblue 0%, #17191a 100%);
      font-size: large;
      color: gold;
  }
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  .close:hover{
      color: black;
      text-decoration: none;
      cursor: pointer;
  }   
  .last-chance{
      color: red;
      text-shadow: 2px 2px 3px black;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
      overflow: hidden;
      background: linear-gradient(135deg, skyblue 0%, #17191a 100%);
  }
        
  .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
        
  .topnav a:hover {
       background-color: #ddd;
       color: #fff;
       text-shadow: 2px 2px 8px black;
       transition: all 0.5s;
  }
        
  .topnav a.active {
       background-color: #04AA6D;
       color: white;
  }
        
  .topnav .icon {
       display: none;
  }
  .container{
       max-width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
  
  }
  .swiper {
      width: 500px;
       height: 300px;
  }
  .swiper-slide img {
      max-width: 100%;
  }
     