@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background: rgb(247, 247, 247);
}

#product-form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #333;
  width: 400px;
  padding: 20px 50px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label,
.condition-title {
  font-size: 14px;
  text-align: end;
  color: #333;
}

select,
input[type="text"] {
  text-align: end;
  color: #333;
  appearance: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: transparent;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  z-index: 2;
}

input[type="text"] {
  text-align: start;
  direction: rtl;
  background-color: #fff;
}

select {
  cursor: pointer;
}

#sub-category:disabled {
  cursor: default;
  color: #ccc;
  border: 1px solid #eee;
  background-color: #fff;
}

.select-wrapper {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
}

.select-wrapper:after {
  position: absolute;
  z-index: 1;
  left: 12px;
  top: 40%;
  content: "";
  width: 4px;
  border: solid black;
  border-width: 0 2px 2px 0;
  height: 4px;
  font-size: 1.3em;
  color: #363636;
  transform: rotate(45deg);
}

label[for="sub-category"] {
  color: #ccc;
}

label[for="sub-category"] + .select-wrapper.disabled:after {
  display: none;
}

.condition.container {
  gap: 5px;
}

.radio-wrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
}

.radio-wrapper label {
  font-size: 13px;
}

.name-subtext {
  color: #666;
  font-size: 11px;
  text-align: end;
}

.name-label-container {
  display: flex;
  justify-content: space-between;
}

.name-counter {
  font-size: 14px;
  color: #ccc;
}

.name-wrapper {
  position: relative;
}

.clear {
  display: none;
  position: absolute;
  font-size: 12px;
  color: #666;
  left: 10px;
  top: 35%;
  cursor: pointer;
}

.clear.active {
  display: block;
}

textarea {
  resize: none;
  height: 150px;
  direction: rtl;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
}
