body {
  height: 100vh;
}
h1, h2, h3 {
  margin: 0;
}
.app {
  background: #FFFFFF;
  height: 100%;
}
.app h2 {
  text-align: center;
}
.page-container {
  display: flex;
  gap: 20px;
  width: 100%;
}