*
{
    margin: 0;
    padding: 0;

}

body
{
    background-color:#84889C;
}

.form-box
{
    width: 380;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background:#F7ECEB;
    padding: 5px;
    border-radius: 12px;
}

.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px  9px #b1b0b0;
    border-radius: 30px;
}

.toggle-btn
{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #84889C;
    border-radius: 30px;
    transition: .5s;
}
.input-group
{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-filed
{
    width: 100%;
    padding: 10px 0;
    max-width: 5px 0;
    border-left: 0 ;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn
{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #545871;
    border-radius: 30px;
}
.check-box
{
    margin: 30px 10px 30px 0;
}

span
{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}


#Login
{
    left: 50px;
}

#register
{
    left: 450px;
}