body, html {
    margin: 0;
    height: 100%;
    background-color: #f7f7f7;
    scrollbar-width: none;
}
.header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.container {
    display: flex;
    width: 70%;
    height: 95vh;
    padding: 10px;
    margin: 5px auto;
    gap: 10px;
}
.container .carImage{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}
.container .carImage img{
    border-radius: 50%;
}
.container .formDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
}
.container  .formDiv h2{
    text-align: center;
}
.container .formDiv label{
    display: block;
    margin-bottom: 10px;
    font-size: larger;
}

.container .formDiv select,
input[type="date"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
.container .formDiv .chbox{
    display: flex;
    gap: 10px;
}
.container .formDiv input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container .formDiv input[type="submit"]:hover {
    background-color: #45a049;
}