.Stories {
	max-width: 700px;
	height: 100px;
	/* background-color: red; */
	padding: 8px 0;
	display: flex;
	gap: 5px;


	.user-story {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0px 6px;

		/* user-select: none; */


		img {
			width: 65px;
			height: 65px;
			border-radius: 50%;
			background-clip: padding-box;
			border: solid 2px red;
			padding: 2px;
			border-radius: 50%;
			user-select: none;


		}

		.user-name {
			font-size: 12px;
			text-align: center;
			width: 65px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-top: 3px;
		}

		&:hover {
			cursor: pointer;
		}
	}
}
