.companies-flex{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container{
    margin: 30px ;
    max-width: 100vw;
    img{
        width: 60%;
    }
    .company-field{
        font-size: larger;
        margin-top: 10px;
    }
    .back-btn{
        margin: 20px;
    }
}
