body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(macbookpro.jpg);
    background-size: cover;
    background-position: center;
    text-align: center; /* מרכז את כל הטקסט והתמונה בעמוד */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header .title h1 {
    margin: 0;
    font-weight: bold; /* כותרות במודגש */
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-weight: bold; /* כותרות במודגש */
}

p {
    color: #666;
}

/* סגנון לקובץ take-over-window.css כאן */
.takeover-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.takeover-window .content {
    text-align: center;
}

.takeover-window h2 {
    color: #333;
    font-weight: bold; /* כותרות במודגש */
}

.takeover-window p {
    color: #666;
}