html, body {
  background-color: #f7f7f7; /* Or any desired background color */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure it stretches to fill the viewport */
  overflow-x: hidden;
  width: 100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%; /* Fill the entire height */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  height: 100%; /* Fill the parent's height */
  width: 100%;
  background-color: inherit; 
}

.main-content {
  margin-top: 100px;
  margin-right: 60px;
  flex-grow: 1; /* Allow the content area to grow and fill available space */
  background-color: inherit;
  display: flex;
  justify-content: center;
  text-align: center;
 
}


