<!DOCTYPE html>
<html>
  <style>
    .img{
      margin-top: -100px;
      margin-left: 250px;
    }

    h1{
      text-align: center;
    }
  </style>
  <body>
    <h1>The content you have requested is not found!</h1>
    <img class="img" src="/public/1.png" />
  </body>
</html>