@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-feature-settings: "liga" 1;
}

body {
  margin: 0;
  height: 100vh;
  background: black;
  padding-top: 80px;
  background-image: url(../images/rent-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 100px 100px black;
  backdrop-filter: brightness(20%);
}

.flex-container {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  text-align: center;
  margin: 0;
  color: #d2bd7f;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: 400;
}

.rent-form {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form-flex-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

label {
  color: #eee;
}

select {
  appearance: none;
  height: 40px;
  background: transparent;
  color: #777;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  z-index: 1;
}

select.active {
  cursor: pointer;
}

.brand.active select,
.model.active select {
  color: #000;
}

option {
  color: #000;
}

.brand.input-container,
.model.input-container,
.date.input-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  background: #eee;
  border: 2px solid #aaa;
  border-radius: 3px;
}

.brand.input-container:after,
.model.input-container:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #777;
  border-bottom: 2px solid #777;
  transform: rotate(45deg) translateY(-50%);
  z-index: 0;
}

.brand.input-container.active:after,
.model.input-container.active:after {
  border-color: #000;
}

input[type="date"] {
  appearance: none;
  height: 40px;
  background: transparent;
  color: #000;
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  z-index: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.insurance.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

label[for="insurance"] {
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  margin: 0;
  margin-left: 2px;
  height: 18px;
  width: 18px;
  border: 2px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  height: 18px;
  width: 18px;
  color: #333;
  background-color: #eee;
  border-radius: 18px;
  font-weight: 900;
  font-size: 0.7rem;
  transform: translate(-50%, -50%) scale(0);
  margin: 0;
  transition: 0.3s;
}

input[type="checkbox"]:checked:after {
  border-radius: 3px;
  transform: translate(-50%, -50%) scale(1);
}

.submit.input-container {
  align-self: center;
}

input[type="submit"] {
  background: #333;
  border: none;
  height: 50px;
  width: 110px;
  border-radius: 3px;
  color: #d2bd7f;
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: #444;
}

.msg-title {
  display: none;
  width: 600px;
  color: #d2bd7f;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 42px;
}

.msg-content {
  display: none;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #eee;
  width: 600px;
}

.car-details-container {
  display: none;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  color: #eee;
}

.name-details {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}

.date-details {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 300;
}

.insurance-detail {
  font-size: 18px;
  font-weight: 300;
}

.loading-bar {
  display: none;
  position: relative;
  height: 15px;
  width: 200px;
  border-radius: 15px;
  background: #777;
}

.loading-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 15px;
  background: #eee;
  border-radius: 15px;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  10% {
    width: 20%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
