body {
    max-width: 1200px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-container {
    display: flex;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: greenyellow;
    flex-direction: row;
}

.flex-child {
    background: orange;
    height: 100px;
    margin: 10px;
    width: 100px;
    text-align: center;
    align-content: center;
    font-weight: 600;
}

.wrap {
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}
.direction-column-reverse{
    flex-direction: column-reverse;
}
.direction-row {
    flex-direction: row;
}
.direction-row-reverse {
    flex-direction: row-reverse;
}
.order1 {
    order: 1;
}
.order2 {
    order: 2;
}