.login-page-navbar {
    width: 100%;
    height: 60px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
    gap: 800px;
    position: fixed;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1000;
  }
  
.login-page-navbar .left-logo {
    width: 103px;
    margin-top: 8px;
  }
.login-page-navbar .left-logo img {
    width: 100%;
  }
  
.login-page-navbar .right-actions {
  
  }
  
.login-page-navbar .right-actions .navbar-signup-link {
    display: inline-block;
    margin-left: 16px;
  }