* {
	box-sizing: border-box;
}
.left-navbar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 20px;
	padding: 8px 12px 20px 12px;
	/* background-color: red; */
	border-right-color: rgb(219, 219, 219);
	border-right-style: solid;
	border-right-width: 1px;
	.left-navbar-logo {
		.left-navbar-InstagramLogo {
			width: 180px;
			margin-top: 30px;
			padding: 20px 30px 10px 20px;
		}
	}
	.left-navbar-links {
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-items: start;
		gap: 7px;

		.profile {
			img {
				width: 24px;
				height: 24px;
				border-radius: 50%;
			}
		}
		.links-basic-styles {
			width: 100%;
			padding: 12px;
			display: flex;
			justify-content: start;
			gap: 19px;
			font-weight: 400;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
				Helvetica, Arial, sans-serif;
			transition: background-color 0.2s, font-weight 0.2s;
			user-select: none;
			.links-text {
				margin-top: 2px;
			}

			&:hover {
				background-color: rgb(242, 242, 242);
				cursor: pointer;
                border-radius: 10px;
			}
			&:focus {
				font-weight: 700;
			}
		}
	}
	.left-navbar-bottom-links {
    margin-top: auto;
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-items: start;
		gap: 7px;

		.links-basic-styles {
      width: 100%;
			padding: 12px;
			display: flex;
			justify-content: start;
			gap: 19px;
			font-weight: 400;
      &:hover {
        background-color: rgb(242, 242, 242);
        cursor: pointer;
      }
      &:focus {
        font-weight: 700;
      }
		}

	}
}
