/* General input styles */
.general-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.input-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 3px;
}

.input-field {
    border: none;
    border-bottom: 0.5px solid rgb(153, 153, 153);
    font-size: 22px;
    padding: 10px;
    outline: none;
    color: inherit;
    background: transparent;
    width: 100%;
    resize: none; /* Prevent resizing by default */
}

.input-field::placeholder {
    color: rgb(153, 153, 153);
    font-family: "Rubik", sans-serif;
}

/* Full frame style applied directly to the textarea */
.input-field.full-frame {
    border: 0.5px solid rgb(153, 153, 153);
    border-radius: 8px;
    padding: 10px;
    border-bottom: 0.5px solid rgb(153, 153, 153); /* Keep the underline */
}

.input-field.full-frame.error {
    border-color: red;
    border-bottom-color: red; /* Highlight both the frame and underline */
}

/* Dark mode styles */
.dark .input-title {
    color: #f5f5f5;
}

.dark .input-field {
    color: #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

.dark .input-field.full-frame {
    border: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
}

.dark .input-field.full-frame.error {
    border-color: red;
    border-bottom-color: red;
}
