.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* סגנון לכותרת הראשית */
h1 {
  color: #61dafb;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* סגנון לפסקה */
p {
  color: #fff;
  font-size: 1.2rem;
}

/* סגנון לכפתור */
.my-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.my-button:hover {
  background-color: #21a1f1;
}
