.under-form-container .prompt-section {
  margin: 10px 0;
  width: 350px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}

.under-form-container .prompt-section .prompt-link {
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
}

.under-form-container .prompt-section .prompt-link:active {
  color: #88cfff;
}

.under-form-container .get-app-section {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-form-container .get-app-text {
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.under-form-container .get-app-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.under-form-container .get-app-section .google-play img {
  height: 40px;
  width: 134.28px;
}

.under-form-container .get-app-section .microsoft img {
  height: 40px;
  width: 110.76px;
}
