#navBar{
    width: 100%;
    overflow: hidden;
    height: 6rem;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
  }
h3{
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-align: center;
}
.infoWrapper{
    margin: 0 auto;
    width: 80%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 

    .infoItem{
        width: 40%
        
    }

    p{
        font-family: "Yanone Kaffeesatz", sans-serif;
        background-color:#c1f3b5;
        padding: 2rem;
        border-radius: 5px;
        font-size: 1.3em;
    }
    
    img{
        width: 40%;
        border-radius: 100%;
        height: 30rem;
        position: relative;
    }
    .slide-in {
        animation-name: slide-in-animation;
        animation-duration: 2s;
        animation-fill-mode: forwards;
     }
     @keyframes slide-in-animation {
        100% {
            transform: translateY(0);
            opacity: 1;
        }
     }

}

.right{
    width: 80%;
    height:35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contactUs{
    width: 100%;
    overflow: hidden;
    height: 44rem;
 }