.company-item{
    background-color: rgb(91, 104, 116);
    padding: 20px 20px 8px 20px;
    border-radius: 30px;
    max-width: 500px;
    img{
        width: 80%;
    }
}
.company-btn{
    margin-top: 15px;
}
