.ForgotPassword-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    margin-top: 60px;
    margin-bottom: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-grow: 1;
  }

.main .password-form {
    width: 388px;
    height: 553px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dbdbdb;
    padding: 0 40px;
    gap: 5px;
 }

.main .password-form .img-lock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 24px 0 16px 0;
}
.main .password-form .img-lock-container .img-lock {
    width: 90px;
    height: 90px;
    margin: 0 auto;
} 

.main .password-form .title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    text-align-last: inherit;
    font-weight: 600;
    box-sizing: border-box;
}

.main .password-form .instructions {
    text-align: center;
    color: rgb(115, 115, 115);
    font-size: 14px;
    line-height: 18px;
    text-align-last: inherit;
    font-weight: 400;
    box-sizing: border-box;
}

.main .password-form .bth-sentd {
    opacity: 0.2;
    width: 100%;
}

.main .password-form.flex-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.main .password-form .or-text {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    width: 100%;
    text-align: center;
  }
  
.main .password-form .or-text::before,
.main .password-form .or-text::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
    top: 45%;
  }
  
.main .password-form .or-text::before {
    left: 0;
  }
  
.main .password-form .or-text::after {
    right: 0;
  }

.main .password-form .Create-account-link {
    color: rgb(38, 38, 38);
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.main .password-form .Create-account-link:hover {
    color: rgb(179, 179, 179); 
    font-weight: 500;
    filter: none;
}

.main .password-form .link-login-container {
    width: 387px;
    height: 44px;
    background-color: rgb(250, 250, 250);
    position: relative;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 68px;
}

.main .password-form .link-login-container .link-login {
    width: 387px;
    color: rgb(38, 38, 38);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.main .password-form .link-login-container .link-login:hover {
    filter: none;
    color: rgb(179, 179, 179); 
}




















