.boxday {
    border-radius: 10px;
    background-color: #b9e3ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 220px;
    padding: 15px;
    font-size: 20px;
    
}

.boxInternal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

