.login-page-container {
  width: 100%;
}

.login-page-container .login-page-navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 0;
  left: 0;
  gap: 800px;
  position: fixed;
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
}

.logo {
  margin-top: 8px;
}

.login-page-container .links .btn_Login{
  background-color: #3995F1;
  color: white;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

.login-page-container .links .btn_SignUp{
  background-color: #FFFFFE;
  color: #3995F1;
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  font-weight: bold
}

.login-page-container .login-page-content{
  width: 100%;
  margin-top: 50px;
  position: fixed;
  top: 65px;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.login-page-container .login-page-content text{
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-page-container .login-page-content .login-page-actions{
  width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login{
  border: 1px solid #dbdbdb;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .input{
  display: block;
  margin: 5px;
  padding: 8px;
  width: 250px;
  border: 1px solid #dbdbdb;
  background-color: #FAFAFA;
}
.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .input input[type="text"], input[type="password"] {
  border: none;
  width: 100%;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .input input[type="password"]{
  width: 210px;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .input .show{
  cursor: pointer;
  width: 50px;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .input input[type="text"], input[type="password"]:focus {
  outline: none ;
}

.login-page-container .login-page-content .login-page-actions .login-page-actions-login .form_container .btnLogIn{
  margin: 10px 5px 0 5px;
  padding: 8px;
  width: 270px;
  height: 35px;
  border: none;
  border-radius: 8px;
  background-color: #4CB5F9; /* 0095F6 */
  color: #ffffff;
}
.login-page-container .login-page-content .login-page-actions .or-line{
  width: 66%;
  display: flex;
  justify-content: space-between;
}

.login-page-container .login-page-content .login-page-actions .or-line .line{
  border-top: 1px solid #DBDBDB;
  width: 35%;
  margin: 10px 0;
}

.login-page-container .login-page-content .login-page-actions .or-line .or{
  color: #737373;
  padding-top: 5px;
}
.login-page-container .login-page-content .login-page-actions .login-with-facebook {
  margin-top: 30px;
}
.login-page-container .login-page-content .login-page-actions .login-with-facebook .btn-facebook-login{
   width: 200px;
   height: 20px;
   background-color: #ffffff;
   border: none;
   cursor: pointer;
}

.login-page-container .login-page-content .login-page-actions .login-with-facebook .facebook-icon {
  color: white; /* Set icon color to white */
  background-color: #3b5998; /* Facebook blue */
  padding-left: 7px; /* Optional: Add padding */
  padding-top: 2px;
  padding-right: 2px;
  margin-right: 5px;
  width: 10px;
  display: inline-flex; /* Center the icon */
}

.login-page-container .login-page-content .login-page-actions .forgot-pass{
  padding: 30px;
  cursor: pointer;
}

.login-page-container .login-page-content .login-page-actions .sign-up{
  border: 1px solid #dbdbdb;
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-page-container .login-page-content .login-page-actions .sign-up .sign-up-link{
  color: #0095F6;
  cursor: pointer;
}

.login-page-container .login-page-content .login-page-actions .get-the-app{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.login-page-container .login-page-content .login-page-actions .get-the-app .get-app-img{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.login-page-container .login-page-content .login-page-actions .get-the-app .get-app-img img{
  height: 40px;
  margin-left: 20px;
}

.login-page-container .bottom-div{
  position: fixed;
  bottom: 0;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 0 370px 70px 0;
  margin-bottom: 20px;
}

.login-page-container .bottom-div .bottom-div-links{
  display: flex;
}
.login-page-container .bottom-div .bottom-div-links a{
  padding-right: 10px;
  padding-top: 5px;
  text-decoration: none;
  color:  black;
  cursor: pointer;
}

.login-page-container .bottom-div .bottom-div-links2{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.login-page-container .bottom-div .bottom-div-links2 span, select{
  margin-left: 10px;
  margin-top: 5px;
}
.login-page-container .bottom-div .bottom-div-links2 select{
  border: none;
  cursor: pointer;
}