body, html {
    margin: 0;
    padding: 0 10px;
    height: 100%;
    background-color: #fff;
    scrollbar-width: none;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top {
    flex: 0 0 10px;
    background-color: #cfcfcf;
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.bottom {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: stretch;
    background-color: #cfcfcf;
    border-top: none;
}

.bottom .left, .right, .middle {
    flex: 0 0 20%;
    margin: 0 10%;
}
.bottom .middle {
    flex-grow: 1;
    text-align: center; 
    padding: 0;
}
.nav {
    text-align: center;
}
  
.nav ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}
  
.nav ul li {
    display: inline;
}
  
.nav ul li a {
    display: inline-block;
    margin-top: 20px 20px;
    padding: 20px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
}
iframe{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.lLogo{
    width: 170px;
    height: 200px;
    position: fixed; 
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}
.rLogo{
    width: 170px; 
    height: 200px; 
    position: fixed; 
    left: calc(100% - 195px); 
    top: 0;
    transform-style: preserve-3d;
    animation: rotate 15s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}
