#carousel {
    position: relative;
    width: 100%; /* מתאים את הקרוסלה לרוחב העמוד */
    max-width: 600px; /* מגביל את רוחב הקרוסלה ל-600px */
    margin: auto; /* ממרכז את הקרוסלה בעמוד */
}

#carousel img {
    display: none; /* הסתרת כל התמונות כברירת מחדל */
    width: 100%; /* מתאים את רוחב התמונות לקרוסלה */
    max-height: 400px; /* מגביל את גובה התמונות */
    object-fit: cover; /* מבטיח שהתמונות יכסו את הקרוסלה ללא הפרעה ליחס הממדים */
}

#carousel img.active {
    display: block; /* הצגת התמונה הפעילה בלבד */
}

#carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 100; /* מבטיח שהכפתורים יהיו מעל התמונות */
}

#carousel #prev {
    left: 10px;
}

#carousel #next {
    right: 10px;
}
