/* הגדרות גלובליות */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* הגדרות הניווט */
nav {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* הגדרות כותרת */
header {
    background-color: #e8f0fe;  /* צבע רקע כחלחל בהיר */
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* הגדרות התוכן */
main {
    padding: 20px;
    width: 100%; 
    text-align: center; 
}

article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* צל עדין */
    color: #444;  /* צבע גופן מעט כהה יותר */
}

/* הגדרות הפוטר */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* כפתורים ופורמים */
button, input[type="submit"] {
    background-color: #00a86b; /* צבע ירוק מושך עין */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover, input[type="submit"]:hover {
    opacity: 0.9;
}

input, select {
    padding: 10px;
    margin-top: 5px;
}
header .logo {
    display: none; /* הסתרת הלוגו בדפים שאינם index.html */
}
