body{
    background-color: #f9f9f9;
    font-size: large;
    padding-bottom: 50px;
}
.container{
    height: 97vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.container .category{
    margin-top: 20px;
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container .subcategory{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.container .subcategory .item{
    border: 1px solid black;
}
.container .subcategory .item:hover{
    border: 2px solid orange;
    cursor: pointer;
}

.container .form{
    margin: 30px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    direction: rtl;
    
}
.labelStyle{
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: bold;
}
.container .form form input[type="text"] {
    border-radius: 5px;
    width: 300px;
    font-weight: bold;
}
.container .form form textarea{
    border-radius: 5px;
    width: 300px;
    height: 100px;
    resize: none;
    border: 2px solid black;
    padding: 5px;
    font-weight: bold;
}
.container .form form input[type="radio"] {
    display: inline-block;
    margin-bottom: 2px;
    margin-top: 2px;
}
form input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.summarytable{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 350px;
    direction: rtl;
    border: 2px solid black;
}

.summarytable .dataDiv{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.summarytable .imagesDiv{
    flex-wrap:wrap;
}
.summarytable .answer{
    font-size: 22px; 
    font-weight: bold; 
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
}
