/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('reminder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.reminder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 300px;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
}

#add-reminder-btn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
}

.completed-task {
    text-decoration: line-through;
    opacity: 0.5;
}

.reminder:nth-child(even) {
    transform: rotate(-2deg);
}

.reminder:nth-child(odd) {
    transform: rotate(2deg);
}
