.register-page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-page-main {
  margin-top: 60px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  flex-grow: 1;
}
