.forgotPassword-container{
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-grow: 1;
    flex-direction: column;
}

.forgotPassword-form{
    width: 390px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #dbdbdb;
    padding:  0 45px;
    margin-bottom: 0px;
    border-radius: 3px;
}

.forgotPassword-lock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.forgotPassword-lock img{
    width: 103px;
    
}

.text{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.forgotPassword-text{
    
    color: #737373;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.forgotPassword-btn button {
    width: 100%;
}

.forgotPassword-span{
    font-size: 13px;
    text-align: center;
}

.forgotPassword-span a{
    text-decoration: none;
}

.flex-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.or-text{
    position: relative;
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    width: 100%;
    text-align: center;
}

.or-text::before,
.or-text::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
    top: 45%;
}

.or-text::before{
    left: 0;
}

.or-text::after{
    right: 0;
}

.forgotPassword-span2 a{
    font-size: 14px;
    font-weight: bold;
    color: #737373;
    text-decoration: none;
    margin-left: 90px;
}

.forgotPassword-span2 a:hover{
    filter: none;
    color: rgb(179, 179, 179); 
}
    


.forgotPassword-form-button{
    width: 390px;
    height: 44px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    padding-top: 10px;
}

.link-back{
    width: 387px;
    color: rgb(38, 38, 38);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.link-back:hover{
    filter: none;
    color: rgb(179, 179, 179); 
}

