@media only screen and (max-width:800px) {
    .form{
        display: none;
  }

}

form {
    margin: 10px auto;
    width: 600px;
    display: flex;
    border: 1px solid #000;
    padding: 10px;
    position: absolute;
    right:80px;
    margin-top: 150px;
    z-index: 0;
    width: 30%;
    height: 65vh;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.26);
    padding: 30px;
    gap:20px;
    color: white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.082);
  
  backdrop-filter: blur(5px);
}

label {
    display: block;
    margin: 3px 0;
}


.dates{
    display: flex;
    flex-direction: row ;
    gap:20px
;}
.submit{
    width: 80%;
        height: 5vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        background-color: #135B3A;
        align-items: center;
        bottom: 5%;
        
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgb(58, 58, 58);


}
input[type="date"] { 
    background-color: var(--darkgray);

    position: relative;
    display: flex;
    width: 189px;
    height: 3em;
    border: 1px solid rgba(255, 255, 255, 0.26);

    border-radius: .25em;
    cursor: pointer;
color: white;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  }
  input[type="checkbox"] { 

  
   

color: white;
  }
  