@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  transition: all 0.4s ease;

  border-radius: 5px;
  
  backdrop-filter: blur(5px);
  
}
.carlogos{
    padding: 20px;
    background-color: #00000054;
    gap: 100px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.logo{
    width: 75px;

  }
@media only screen and (max-width:800px) {
    .carlogos{
        padding: 20px;
        background-color: #00000054;
        gap: 20px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
      
  }
  .logo{
    width: 45px;

  }
}
nav .nav-content{
      display: flex;
        flex-direction: row;
}
nav .logo a{
  font-weight: 500;
  font-size: 35px;
  margin-left: 20px;

  color: #ffffff;
}

.nav-content .nav-links{
  display: flex;
  gap:5px;
  align-self: center;
  position: absolute;
  right: 0;
  margin-right: 20px;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 35px 30px;
  transition: all 0.3s ease;

}
 .nav-links li a:hover{
   background-color: #cecece;
 }
 
.home{
  height: 100vh;
  width: 100%;
  
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.877) 10%, rgba(0, 0, 0, 0.164) 70%)
  ,url("./cara.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media only screen and (max-width:800px) {
 .home{
    background-size: contain;
    background-attachment: local;

 }
 .headline{
    display: flex;
    justify-content: center;
    
    font-size: 7px;
     }   
}


.headline{
    display: flex;
    justify-content: left;
    padding-top: 15%;
    margin-left: 80px;
    font-size: 70px;
    color: rgb(255, 255, 255);
}
h2{
  font-size: 30px;
  margin-bottom: 6px;
  color: #4070f4;
}
