p{
    font-weight: bold;
    font-size: 18px;
}
img{
    width: 50px;
    height: 50px;
}
.Company{
    color: rgb(149, 43, 121);
}

.flex-container {
    display: flex;
    background-color: fff;
}
  
.flex-container > div {
    margin: 10px;
    padding: 20px;
}
.img{
    width: 200px;
    height: 150px;
}
.flex-container-ford{
    flex-direction: column;
}
.flex-container-Honda{
    display: flex;
    justify-content:center;
}
.flex-container-Nissan {
    display: flex;
    height: 200px;
  }
  .flex-container > div .nissan{
    background-color: DodgerBlue;
    color: white;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }