#aside {
  height: 100%;
  width: 550px;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--card-bg);
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.search-icon {
  height: 80%;
  color: var(--secondary);
}

.search-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  border: none;
  outline: none;
  background: none;
  color: var(--primary);
}

.search-input::placeholder {
  color: var(--secondary);
}

.aside-location {
  margin-bottom: 50px;
}

.aside-location-city {
  font-size: 38px;
  font-weight: 700;
  color: var(--primary);
}

.aside-location-state {
  padding-left: 4px;
  font-size: 26px;
  font-weight: 500;
  color: var(--secondary);
}

.aside-weather-icon {
  margin: 0 auto;
  height: 220px;
  width: 220px;
  margin-bottom: 50px;
}

.aside-weather-icon-img {
  height: 100%;
}

.aside-tmp {
  color: var(--primary);
}

.aside-tmp-n {
  font-size: 90px;
  font-weight: 300;
}

.aside-tmp-unit {
  font-size: 40px;
  vertical-align: top;
  line-height: 1.7;
  font-weight: 200;
  letter-spacing: 4px;
  margin-left: 3px;
}

.aside-time {
  padding: 25px 0;
  font-size: 26px;
  font-weight: 500;
  border-bottom: 1px solid var(--border);
}

.aside-time-day {
  color: var(--primary);
}

.aside-time-hour {
  color: var(--secondary);
  font-weight: 400;
}

.aside-rain {
  display: flex;
  align-items: center;
}

.aside-rain-icon {
  height: 28px;
  margin-right: 4px;
}

.aside-rain-img {
  height: 100%;
}

.aside-rain-text,
.aside-rain-percentage {
  font-size: 20px;
  font-weight: 300;
}
