:root {
    --color-background: #121212;
    --color-text: #FFFFFF;
    --color-accent: #FFD700; 
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.navbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a.active, .navbar a:hover {
    background-color: gold;
    color: black;
}

.catalog-title {
    text-align: center;
    margin-top: 20px;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.catalog-container a {
    display: block;
    text-decoration: none;
    color: inherit; 
}

.catalog-container .car-container a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.catalog-container .car-container a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%; 
    height: auto; 
}


.car-container {
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.car-img img {
    width: 100%;
    height: auto;
}

.car-info {
    padding: 10px;
}

.car-name {
    margin: 10px 0;
    font-size: 18px;
}

.car-price {
    font-size: 16px;
    color: #333;
}

.logo-list-container ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.logo-list-container li {
    list-style: none;
    margin: 0 10px;
}

footer {
    margin-top: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.navbarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5em 1em;
}

.homelogo {
    width: 50px; 
    height: auto;
}
.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.car-container {
    flex-basis: calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px; 
}
.car-img img {
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 2px solid transparent;
}

.car-img:hover img {
    transform: scale(1.05);
    border: 2px solid #025517;
}
