.container {

}

.container .header {
  text-align: left;
  margin: 12px 0 0 12px;
}

.container .header .back-link {
  font-size: 20px;
  font-weight: bold;
}

.container .header .back-link a {
  text-decoration: none;
  color: navy;
}

.container .companies-board span {
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
}

.container .companies-board .companies-flex {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.container .companies-board .companies-flex .company-item {
  background-color: rgb(33, 83, 83);
}


.company-btn {
  margin: 12px 0 12px 0;
  border-radius: 4px;
  width: 120px;
  height: 28px;
  background-color: rgb(36, 148, 148);
  border: 1px solid rgb(8, 43, 39);
}
.company-btn:hover {
  cursor: pointer;
}

