.navBarContainer {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navBarTop {
    height: 70px;
    background-color: #ffffff;
    color: #007474;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 7px 120px;
    position: relative;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navLink {
    text-decoration: none;
    color: #007474;
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    &:hover {
        background-color: #d6d4d4;
        color: #007474;
    }
}



.iconPlus { 
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 40px;
    right: 93%;
    color: #eeeeee;
    background-color: #55d4d4;
    border-radius: 50%;
    transition: 0.2s;
    padding: 5px 6px 4px 6px; 
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease;
    outline: none;
    cursor: pointer;
    &:focus, focus-visible {
        outline: none; 
    }
    
  }

.iconPlus.rotated {
  transform: rotate(135deg); /* Rotate 90 degrees */
}

.customPopup {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    position: relative; /* Needed for ::before positioning */
    z-index: 1000;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popperLink {
    padding: 8px 10px;
    cursor: pointer;
    &:hover {
        background-color: #f0f0f0;
    }
}

.popperLink a {
    text-decoration: none;
    color: #333;
}

.logo {
    position: absolute; 
    left: 0; 
    margin-left: 95px;
    margin-top: 0; 
}
