/* General Css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    resize: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-primary: #fff;
    --color-sec: #ffd000;
    --color-tertiary: #777;
    --color-bg: #eeefee9e;
    --color-text: #111;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    --shadow-1: -1rem 1rem 1.2rem 0 rgba(157, 157, 157, 0.5);
    --transition: all 0.4s ease;

    --width-lg: 80%;
    --width-md: 90%;
    --width-sm: 95%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color-primary);
    color: var(--color-text);
    line-height: 1.7;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-sec);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

a {
    color: var(--color-text);
}

span {
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

.container {
    margin: 0 auto;
    width: var(--width-lg);
}

section {
    padding: 50px 0 0;
}

section h2 {
    text-align: center;
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    background: var(--color-sec);
    width: 170px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
    transition: var(--transition);
}

.booknow {
    display: inline-block;
    background: var(--color-sec);
    padding: 5px 15px;
    border-radius: 12px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    transition: var(--transition);
}

.btn:hover,
.booknow:hover {
    background: var(--color-primary);
    color: var(--color-sec);
}


.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-bottom: 64px;
}

.title h2 {
    font-size: 35px;
    text-transform: uppercase;
}

.title h4 {
    display: inline-block;
    font-size: 20px;
    padding-bottom: 16px;
    position: relative;
}

.title h4::before {
    content: '';
    position: absolute;
    top: 40%;
    left: -48px;
    height: 3px;
    width: 32px;
    background: var(--color-sec);
}

.title h4::after {
    content: '';
    position: absolute;
    top: 40%;
    right: -48px;
    height: 3px;
    width: 32px;
    background: var(--color-sec);
}


/* Nav */

.nt-container {
    background: var(--color-text);
}

.nav-top {
    display: flex;
    color: var(--color-primary);
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.nav-top div i {
    color: var(--color-sec);
    font-size: 13px;
}

.nav-top div span {
    margin-left: 8px;
}

.nav-top .social-icons {
    margin-top: 0;

}

.nav-top .social-icons i {
    color: var(--color-primary);
    font-size: 14px;
}

.nav-top .social-icons i:hover {
    color: var(--color-sec);
    font-size: 14px;
}

.logo img {
    width: 48px;
    padding: 8px 0;
}

.n1-container {
    background: rgba(0, 0, 0, 0.9);
}

.scrolling {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1111;
}

.n1-container .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition);
}

.navlist {
    display: flex;
    gap: 35px;
}

.menu-btn {
    font-size: 24px;
    color: var(--color-primary);
    cursor: pointer;
    display: none;
}

.navlist li a {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.navlist li a:hover {
    color: var(--color-sec);
}

/* Header / Home */

header {
    background: url(./img/./cover.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
    position: relative;
    animation: slide 20s ease-in infinite alternate;
}

@keyframes slide {
    0% {
        background-image: url(./img/./cover.webp);
    }

    50% {
        background-image: url(./img/./coverbg1.webp);
    }

    100% {
        background-image: url(./img/./coverbg2.png);
    }
}


header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.home-container {
    color: var(--color-primary);
}

header .info {
    max-width: 600px;
    position: absolute;
    top: 8%;
}

header .info p {
    padding: 16px 0;
}

.booking-form {
    padding: 16px 32px;
    background: #ffffff5c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
}

.booking-form input,
.booking-form select {
    background: var(--color-sec);
    border-radius: 6px;
    padding: 6px;
}


/*  Works  */

.works {
    padding-bottom: 100px;
}

.works .title p {
    padding-top: 16px;
}

.works-container {
    text-align: center;
}

.works-container .step {
    width: 17%;
    display: inline-block;
    position: relative;
}

.works-container .number {
    z-index: 1;
    height: 50px;
    width: 50px;
    border: 2px solid var(--color-sec);
    border-radius: 50%;
    color: var(--color-sec);
    background: var(--color-primary);
    display: block;
    position: relative;
    margin: 0 auto 10px auto;
}

.works-container .number>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.works-container .caption {
    display: block;
    color: var(--color-sec);
}

.works-container .step::after {
    width: 100%;
    height: 4px;
    content: '';
    position: absolute;
    top: 25px;
    background: var(--color-sec);
    z-index: -1;
}

.works-container .step:last-child:after {
    display: none;
}

/*  CAR BRANDS  */

.carbrands-container{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    width: 500px;
    height: 300px;
    position: relative;
    box-shadow: var(--shadow); 
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* In case images are larger than the container size */
}

#slideshow {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}

/*  BRANDS  */


.brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brands img {
    width: 150px;
    height: 60px;
    margin-bottom: 40px;
}



/*  About */


.about .title {
    margin-bottom: 32px;
}

.about .title p {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 8px;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 0 80px;
    position: relative;
}

.about .content .title {
    text-align: start;
}

.about .content .title h2 {
    text-align: start;
}

.about-container .image {
    padding: 48px 0;
    display: flex;
    justify-content: flex-end;
}

.about-container .image img {
    max-width: 600px;
    height: auto;
}

.about-container .content {
    padding: 48px 0;
}

.about-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 70%;
    background: var(--color-bg);
    z-index: -1;
}


/* SERVICES */

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.services-container .card {
    padding: 32px;
    background: var(--color-bg);
    border-radius: 8px;
    transition: var(--transition);
}

.services-container .card>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px 0;
}

.services-container .card h4 {
    font-size: 19px;
    text-transform: capitalize;
}

.services-container .card span {
    font-size: 19px;
}

.services-container .card p {
    color: var(--color-tertiary);
}

.services-container .card:hover {
    box-shadow: var(--shadow-1);
    cursor: pointer;
}

.services-container .card:hover h4,
.services-container .card:hover span {
    color: var(--color-sec);
}


/*   CARS   */

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.car-item {
    flex-basis: 20%; 
    box-shadow: var(--shadow);
    border-radius: 10px;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    margin: 0 0 35px 0;
}
.car-item:hover{
    scale: 1.2;
    transition: var(--transition);
}

.car-image {
    width: 100%;
    height: 160px;
    display: block;
}

.car-info h3 {
    margin: 10px 0;
}

.car-info p {
    margin: 5px 0;
}



/*  POSTER  */

.poster {
    height: 40vh;
    text-align: center;
    background: var(--color-bg);
    margin: 60px 0 0;
    padding: 0;
    position: relative;
}

.poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background: var(--color-tertiary);
    z-index: 1;
}

.poster .container {
    height: 100%;
}

.poster-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.poster-container .box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    z-index: 11;
}

.poster-container .box span {
    font-size: 52px;
    color: var(--color-sec);
}

.poster-container .box p {
    font-size: 19px;
    line-height: 20px;
    text-align: start;
}


/* Contact */

.contact {
    margin: 32px 0 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 60px;
    padding: 60px;
    background: var(--color-bg);
    height: 400px;
    margin: 100px auto;
    border-radius: 16px;
}

.contact-aside {
    background: var(--color-sec);
    padding: 30px;
    border-radius: 16px;
    position: relative;
    bottom: 150px;
}

.contact-aside h2 {
    margin-bottom: 24px;
    text-align: start;
}

.contact-aside p {
    margin-bottom: 30px;
}

.contact .contact-info li {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 15px;
}

.contact .contact-info li h5 {
    font-weight: 500;
    font-size: 13px;
}

.contact-social {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.contact-social i:hover {
    color: var(--color-primary);
    cursor: pointer;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 30px;
}

.contact-form .form-name {
    display: flex;
    gap: 18px;
}

.contact-form input[type="text"] {
    width: 50%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px 16px;
    border-radius: 3px;
}



/*   FOOTER   */

footer {
    padding: 45px 0;
    background: var(--color-text);
    color: var(--color-primary);
}

footer .logo img {
    width: 100px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
}

footer li,
footer p {
    color: var(--color-primary);
    margin-bottom: 18px;
    text-transform: capitalize;
}

footer li a {
    color: var(--color-primary);
}

footer li a:hover,
footer .footer-social i:hover {
    color: var(--color-sec);
    cursor: pointer;
}

footer .footer-social {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

footer h4 {
    font-size: 19px;
    margin-bottom: 24px;
}


/*     TOP BTN    */




.top-btn {
    position: relative;
}

.top-btn a {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

.top-btn img {
    width: 60px;
}



/* SMALL Screen  */


@media (max-width: 900px) {
    header::after {
        background: rgba(0, 0, 0, 0.7);
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 15px;
    }

    h5 {
        font-size: 10px;
    }

    .container {
        width: var(--width-md);
    }

    section {
        padding: 40px 0 0;
    }


    .blog-container .card {
        grid-template-columns: 100%;
        gap: 15px;
    }

    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-container .image {
        padding: 0;
        justify-content: center;
    }

    .about-container::before {
        width: 100%;
    }

    .nt-container {
        min-width: 500px;
    }

    .menu-btn {
        display: block;
    }

    .navlist {
        position: absolute;
        flex-direction: column;
        top: 60px;
        right: 32px;
        width: 40%;
        text-align: center;
        padding: 15px 0;
        background: var(--color-text);
        z-index: 111;
        display: none;
    }

    .active {
        display: flex;
    }

    .blog-container img {
        max-width: 600px;
    }

    .poster-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .poster::before {
        width: 50%;
    }

    .contact-container {
        grid-template-columns: 100%;
        gap: 60px 0;
        padding: 0 15px;
        height: auto;
    }

    .contact-aside {
        bottom: 0;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .brands {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .car-item {
        flex-basis: 40%; 
    }

}

/*         MOBILE SCREEN       */

@media (max-width:600px) {
    .container {
        width: var(--width-sm);
    }

    .about-container {
        padding: 0 15px;
        gap: 15px;
    }

    .services-container {
        grid-template-columns: 1fr;
    }

    

    .works-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 500px;
    }

    .works-container .step {
        min-width: 70px;

    }

    .slideshow-images img {
        min-width: 500px;
    }


}