.forgetPwd-nav {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 0;
}

.forgetPwd-nav p a {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    margin-left: 480px;
    color: #000;
}

.forgetPwd-nav p a:hover {
    text-decoration: none;
}



.forgetPwd-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    height: auto;
    margin-bottom: 110px;
}



.forgetPwd-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border: 1px solid #dbdbdb;
}

.forgetPwd-main .forgetPwd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.forgetPwd-main .forgetPwd-container img {
    width: 100px;
    height: 100px;
}

.info-p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}

.info-p2 {
    font-size: .8rem;
    margin-bottom: 20px;
    text-align: start;
    width: 290PX;
    margin-top: -10px;

}

.forgetPwd-inpt input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}

.forgetPwd-submit button {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.reset-pwd span a {
    color: #00376b;
    font-weight: 400;
    font-size: .8rem;
}

.reset-pwd span a:hover {
    text-decoration: none;
}




.forgetPwd-or {
    width: 80%;
}

.forgetPwd-or p {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: .8rem;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.forgetPwd-or p::before,
.forgetPwd-or p::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    background-color: #0000002f;
    top: 50%;

}

.forgetPwd-or p::before {
    left: 0;
}

.forgetPwd-or p::after {
    right: 0;
}

.forgetPwd-newAcc {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.forgetPwd-newAcc span a {
    color: #000;
    font-weight: 500;
    font-size: .9rem;
}

.forgetPwd-newAcc span a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.336);
}

.forgetPwd-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border: 1px solid #dbdbdb;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.062);
}

.forgetPwd-login span a {
    color: #000;
    font-weight: 600;
    font-size: .9rem;
}

.forgetPwd-login span a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.336);
}


.userNotFound {
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    animation: fadeOut 3s forwards  ; 
    background-color: #000;
    color: #fff;
}

@keyframes fadeOut {
   100%{
    transform: translatey(0);
   }

   0%{
    transform: translatey(100%);
   
   }
}


