.general-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.input-title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 3px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-field {
    border: none;
    border-bottom: 0.5px solid rgb(153, 153, 153);
    font-size: 22px;
    padding: 5px 0;
    outline: none;
    color: inherit;
    background: transparent;
    width: 100%;
}

.input-field::placeholder {
    color: rgb(153, 153, 153);
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}

.input-field.error {
    border-bottom: 0.5px solid red;
}

/* Full frame styles applied directly to the input */
.input-field.full-frame {
    border: 0.5px solid rgb(153, 153, 153);
    border-radius: 8px;
    padding: 5px 10px;
    border-bottom: 0.5px solid rgb(153, 153, 153); /* Ensure underline is still visible */
}

/.input-field.full-frame.error {
    border-color: red;
    border-bottom-color: red; /* Highlight both frame and underline */
}

/* Dark mode styles */
.dark .input-title {
    color: #f5f5f5;
}

.dark .input-field {
    color: #f5f5f5;
    border-bottom: 0.5px solid #f5f5f5;
    background-color: #474747;
}

.dark .input-field.error {
    border-bottom: 1px solid red;
}

.dark .input-field.full-frame {
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.dark .input-field.full-frame.error {
    border-color: red;
    border-bottom-color: red;
}

.error-message {
    font-size: 12px;
    color: red;
    margin-top: 3px;
}

/* Calendar icon for date type */
.calendar-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: rgb(153, 153, 153);
}

.date-wrapper .input-field {
    padding-left: 30px; /* Space for the icon */
}

.dark .calendar-icon {
    color: #ccc;
}