.form-input-wrapper {
  position: relative;
  display: flex;
  height: 36px;
  background-color: #fafafa;
  width: 100%;
  margin-bottom: 6px;
}

.form-input-wrapper label {
  user-select: none;
  position: absolute;
  cursor: text;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #737373;
  font-size: 12px;
  transition: 0.1s ease-in-out;
}

.form-input-wrapper label.active {
  font-size: 10px;
  top: 30%;
}

.form-input-wrapper label.active + input {
  padding: 14px 8px 2px 8px;
}

.form-input-wrapper input {
  font-size: 12px;
  padding: 0 8px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  width: 100%;
}

.form-input-wrapper input:focus {
  border: 1px solid #999;
}

.form-input-wrapper .validation-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.form-input-wrapper .iconX {
  color: #ea3323;
}

.form-input-wrapper .iconV {
  color: #999999;
}

.form-input-wrapper .icon-refresh {
  color: #17b8fd;
}
