.post-container {
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 20px 0;
    margin: 20px 0;
}
.post-container .post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block-end: 12px;
}
.post-container .post-header .post-username-date {
    display: flex;
    gap: 10px;
    flex: 1;
}
.post-container .post-header .post-avatar {
    width: 42px;
    height: 42px;
    margin-inline-end: 12px;
}
.post-container .post-header .post-avatar img {
    width: 100%;
    border-radius: 50%;
}
.post-container .post-image img {
    width: 100%;
}
.post-container .post-actions {
    display: flex;
    width: 100%;
    margin: 4px 0;
    padding: 4px 0;
}
.post-container .post-actions .actions-left,
.post-container .post-actions .actions-right {
    flex: 1;
}
.post-container .post-actions .actions-left{
    text-align: left;
    margin-inline-start: -8px;
}
.post-container .post-actions .actions-right{
    text-align: right;
    margin-inline-end: -8px;
}
.post-container .post-actions .action-button {
    padding: 8px;
}
.post-container .description .show-more {
    display: inline;
}
.post-container .post-header .post-username,
.post-container .post-desc .description .username,
.post-container .post-likes {
    font-weight: 500;
}