.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    width: 100%;
}


.login-container .login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
}

.login-container .login-image img {
    width: 400px;
    height: auto;
}

.login-container .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
}

.login-container .login-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin: 15px;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.login-container .login-form form input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #fafafa;
    outline: none;
}

.login-container .login-form h1{
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

}


.login-container .login-form form button {
    padding: 10px;
    margin: 10px 0;
    background-color: #0095f6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container .login-form form button:hover {
    background-color: #0095f6;
}

.login-form .signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dbdbdb;
}

.login-form .signup-button span {
    margin-left: 10px;
    color: #000;
}

.login-form .signup-button button {
    background-color: white;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    background-color: #0095f6;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
}

.login-form .signup-button button:hover {
    text-decoration: underline;
}















