@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
    margin:0;
    font-family: montserrat, arial, verdana;

}
html {
    height: 100%;
    /*Image only BG fallback*/
    
    /*background = gradient + image pattern combo*/
    background: 
      linear-gradient( #ffe53b80,#00ffff);
  }
  

#form{
    box-shadow: 1px 1px 5px rgb(116, 116, 116);

    background-color: white;
    border-radius: 5px;
    padding:10px 30px 30px 30px;
    border:1px solid rgb(34,193,195) ;
}
a{
    text-decoration: none;
    color:white;
    background-color: rgb(51, 63, 129);
    padding: 10px;
    width: 70px;
    border-radius: 8px;
    margin-left: 20px;
}
h1{
    text-align: center;
    color:#2b2979;
    font-weight: 900;
}

#form button{
    background-color: #2b2979;
    color:white;
    border: 1px solid #792099;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    width: 90%;
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.gender-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.gender-group option{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}
.gender-group select{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(34,193,195) ;
}
.photos1{
    height: 203px;
    width: 100px;
    background-color: #0cc477;
    display: flex;
}
.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}
.photos 
{
cursor: pointer;
width: 200px;
height: 150px;

display: flex;
}
.output{
    width:400px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
    border:1px solid rgb(34,193,195) ;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
}
.food{
    margin-bottom: 20px;
   
}
input[type="file"]::file-selector-button {
    border: 2px solid #000000;
    border-radius: 5px;
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
  }
  input[type="file"]::file-selector-button:hover {
  
    background-color: #dadada;
  }
  input[type="file"]{
    font-size: 14px;
      }
