#navbar{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .navbar-btn{
        width: 200px;
        background-color: rgb(5, 5, 5);
    }
}
