.phones-container {
  position: relative;
  display: flex;
  align-items: center;
}

.screenshot-container {
  position: absolute;
  top: 24px;
  left: 157px;
  height: 542px;
  width: 248px;
}

.screenshot {
  position: absolute;
}

.screenshot.prev.active {
  opacity: 1;
}

.screenshot.prev.disabled {
  transition: 2s ease-in-out;
  opacity: 0;
}

.screenshot.next.active {
  transition: 2s ease-in-out;
  opacity: 1;
}

.screenshot.next.disabled {
  opacity: 0;
}
