#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  padding: 0 70px;
}

.navbar-link {
  position: relative;
  margin-right: 20px;
  padding: 3px 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  opacity: 0.4;
  transition: 0.2s ease-in-out;
}

.navbar-link.active {
  opacity: 1;
  color: var(--rainy);
}

.navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: var(--rainy);
  transition: 0.2s ease-in-out;
}

.navbar-link.active::after {
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-search-container {
  display: flex;
  align-items: center;
  height: 45px;
  width: 200px;
  background-color: var(--bg);
}

.search-icon {
  color: var(--secondary);
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-svg {
  height: 45%;
  margin-right: 4px;
}

.search-input {
  background-color: transparent;
  color: var(--secondary);
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0 3px;
  flex-shrink: 0;
}

.search-input::placeholder {
  font-weight: 300;
}

.navbar-btns-container {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.navbar-unit-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--secondary);
}

.theme-svg {
  color: var(--secondary);
  height: 70%;
}
